html {
    height: 100%;
    margin: auto;
}

body {
  background-image: url("/gx/background.jpg");
  background-repeat: no-repeat;
  background-color: #c0c0c0;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  
}

.welcome-container{
	color: white;
	font-family:Charm, Bilbo Swash Caps, serif;
	text-align: center;
	position: absolute;
	top:18vw;
	left:35%;
}

.welcome-container::after {
	content: " ";
	margin: 0 0vw;
	position: absolute;
	top: 1.2vw;
	left: 21.2vw;
	width: 5vw;
	border-bottom: 0.2vw solid white;
	
}

.welcome-container::before{
	content: " ";
	margin: 0 0vw;
	position: absolute;
	top: 1.2vw;
	left: 7.1vw;
	width: 5vw;
	border-bottom: 0.2vw solid white;
	
}

ul {
  font-family:Charm, Bilbo Swash Caps, serif;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000000;
}

li {
  float: right;
}

li a{
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover{
  background-color: red;
}

li a:hover:not(.active) {background-color: #ff0000;}

li a.active {background-color: #ded307;}

#about-section {
	position: relative;
	color: white;
    text-align: center;
    top: -120;
    z-index:-1;
}



