html {
    height: 100%;
    margin: auto;
}

body {
  background-image: url("/gx/background.jpg");
  background-repeat: no-repeat;
  background-color: #c0c0c0;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  
}

.welcome-container{
	color: white;
	font-family:serif;
	text-align: center;
	position: absolute;
	top:30%;
	left:22%;
}

.id{
	
}

#social-media-section .row {
	
    margin: auto;
    max-width: 20px;
    margin-left: -330px;
}

#social-media-section .col {
	display: block;
    text-align: left;
    margin-top: 130px;
}

#social-media-section img {
	display: block;
	text-align: left;
    border: none;
    width: 30px;
    height: 50px;
    transition: width 0.6s;
}

#social-media-section img:hover {
    transition: width 0.6s;
    width: 50px;
}

#about-section {
	position: relative;
	color: white;
    text-align: center;
    top: -120;
    z-index:-1;
}



#navigation-section{
	width: 100px;
	position: relative;
	color:white;
	text-align: left;
	top: -30%;
	left: 3%;
}



.col-navi:hover{
	width: 100px;
    text-align: center;
    transition: width 0.6s;
    top:200;
}

#skills-container h3{
	text-align: center;
    position: relative;
    color: white;
}
 #skills-container h5{
 	text-align: center;
    position: relative;
    color: white;
 }

.col-sm {
	color: white;
    width: 30%;
    padding: 10px;
}

.col-sm h6 {
	text-align: left;
    position: relative;
    left: -30px;
    padding-top: 14px;
    padding-bottom: 14px;
    margin-left: 120px;
}

.col-sm-1 img {
	max-width: 62%;
  	min-width: 62%;
	text-align: left;
    padding: 2px;
    width: 40px;
    margin-top: 15px;
    margin-left: 120px;
}