<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <style>
	a:link {
	  color: white;
	  background-color: transparent;
	  text-decoration: none;
	}</style>
</head>

<body>


<div class="name-container">
   <h1>Mateusz Graczykowski</h1>
</div>

<section id="cover-section">
    <div class="cover-container">
        <div id="particles-js">
          
        </div>
        <img id="self" src="gx/pictureOfMe.png" alt="">
    </div>
</section>
<section id="social-media-section">
    <div class="container">
        <div class="row">
            <div class="col">
                <a id="git-link" target="_blank" href="https://github.com/mateuszgraczykowski/">
                    <img src="gx/icons/github.svg" alt="">
                </a>
            
                <a id="gmail-link" target="_blank" href="mailto:mateuszgraczykowski@gmail.com">
                    <img src="gx/icons/gmail.svg" alt="">
                </a>
            </div>
        </div>
    </div>
</section>
<section id="about-section">
    <div class="container">
        <h3>About me</h3>
        <p>Welcome to my website! You can find here some information about me and my projects. I am self-taught programmer and currently 
           I’m searching for a job or an internship as a Junior Java Developer. Programming is my passion!</p>
    </div>
</section>

<section id="skills-section">
    <div id="skills-container" class="container">
        <h3>Skills</h3>
        <div id="skills-headers" class="row">
            <div class="col-sm">
                <h5>Programming</h5>
            </div>
            <div class="col-sm">
                <h5>Operating Systems</h5>
            </div>
            <div class="col-sm">
                <h5>Tools</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-1">
                <img src="gx/icons/java.svg" alt="">
                <img src="gx/icons/springcore.jpg" alt="">
                <img src="gx/icons/sql.svg" alt="">
                <img src="gx/icons/c++.png" alt="">
            </div>
            <div class="col-sm">
                <h6>Java</h6>
                <h6>Spring</h6>
                <h6>SQL</h6>
                <h6>C++</h6>
            </div>
            <div class="col-sm-1">
                <img src="gx/icons/windows.svg" alt="">
            </div>
            <div class="col-sm">
                <h6>Windows</h6>
            </div>
            <div class="col-sm-1">
                <img src="gx/icons/git.svg" alt="">
                <img src="gx/icons/eclipse.png" alt="">
                <img src="gx/icons/maven.png" alt="">
            </div>
            <div class="col-sm">
                <h6>Git</h6>
                <h6>Eclipse</h6>
                <h6>Maven</h6>
            </div>
        </div>
    </div>
</section>

<section id="navigation-section">
    <div id="navigation-container" class="container">
        <div id="navigation-headers" class="row">
            <ul>
            <li><div class="col-navi">
				<a href="/projects">Projects</a>
            </div></li>
            <br>
           <li> <div class="col-navi">
                <a href="/login">Login</a>
            </div></li>
            <br>
           <li><div class="col-navi">
                <a href="/register">Register</a>
            </div></li>
            </ul>
        </div>
     </div>
</section>

<script src="js/bootstrap.js"></script>
<script src="js/particles.js"></script>
<script src="js/particles-json.js" charset="utf-8"></script>
</body>

</html>
